<ul>
  {{#if dados}}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        {{#each dados}}
          <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>Sem dados de pessoa cadastrados para</p>
    <p>Para cadastrar um registro acesse esse link e informe um valor para a propriedade <b>nome</b> na querystring</p>
    <p>url exemplo: <a href="http://localhost:8080?nome=teste de cadastro">http://localhost:8080?nome=teste de cadastro</a></p>
  {{/if}}
</ul>